/* .header {
        background: linear-gradient(135deg, #111827 0%, #334155 100%);
        color: white;
        padding: 1rem 0;
        box-shadow: var(--shadow-md);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        height: 100px;
        justify-content: center;
    }

    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    .logoIcon {
        position: relative;
        font-size: 2rem;
        color: var(--primary-color);
    }

    .logoText {
        font-size: 1.75rem;
        font-weight: bold;
    }

    .badge {
        background: rgba(249, 115, 22, 0.2);
        color: var(--primary-color);
        padding: 0.25rem 0.75rem;
        border-radius: 9999px;
        font-size: 0.75rem;
        font-weight: 500;
        margin-left: 0.5rem;

    }

    .headerActions {
        display: flex;
        align-items: center;
        gap: 1rem;
    } */














 